<?xml version="1.0" encoding="UTF-8"?>
<configuration >
    <!--日志级别以及优先级排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->

    <!--变量配置-->
    <Properties>
        <!-- 格式化输出：%date表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度 %msg：日志消息，%n是换行符-->
        <!-- %logger{36} 表示 Logger 名字最长36个字符 -->
        <property name="LOG_PATTERN" value="%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>
        <!-- 定义日志存储的路径
        <property name="FILE_PATH" value="C:\Users\Lenovo\Desktop\log"/>
        -->
        <property name="FILE_PATH" value="/log"/>
        <!--<property name="FILE_NAME" value="更换为你的项目名"/> -->
    </Properties>
    <appenders>

        <console name="Console" target="SYSTEM_OUT">
            <!--输出日志的格式-->
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <ThresholdFilter level="ALL"/>

        </console>


        <!-- 打印出所有的info级别的信息，-->
        <File name="FileInfo" fileName="${FILE_PATH}/info.log" append="false">

            <Filters>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>

            <PatternLayout pattern="${LOG_PATTERN}"/>

        </File>

        <!-- 同，打印出所有的Warn级别-->
        <File name="FileWarn" fileName="${FILE_PATH}/warn.log" append="false">
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>

            <PatternLayout pattern="${LOG_PATTERN}"/>
        </File>

        <File name="FileError" fileName="${FILE_PATH}/error.log" append="false">
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </File>

    </appenders>

    <!--Logger节点用来单独指定日志的形式，比如要为指定包下的class指定不同的日志级别等。-->
    <!--然后定义loggers，只有定义了logger并引入的appender，appender才会生效-->
    <loggers>

        <!--过滤掉spring和hibernate的一些无用的debug信息-->
        <logger name="org.springframework" level="INFO"/>
        <logger name="org.mybatis" level="INFO"/>


        <root level="INFO">
            <appender-ref ref="Console"/>

            <appender-ref ref="FileInfo"/>
            <appender-ref ref="FileWarn"/>
            <appender-ref ref="FileError"/>
        </root>
    </loggers>

</configuration>
